* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  /* margin: 2px; */
  width: 100%;
  background-image: url(/pics/backgrond.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
}

#logo{
width: 140px;
cursor: pointer;
margin-bottom: 40px;
}


.navbar{
    width: 88%;
    margin: auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 15px;
}
.navbar ul li a{
    text-decoration: none;
    color: #5f5f5fef;
    font-size: 15px;
}
.navbar ul li a:hover{
    color: black;
}
.content{
    width: 100%;
    position:absolute;
    top: 30%;
}
.left-col{
    margin-left: 6%;
}
.left-col h1{
    font-size: 90px;
    float: left;
    color: #fff;
    line-height: 110px;
}
.right-col{
    float: right;
    margin-right: 6%;
    margin-top: 120px;
    display: flex;
    align-items: center;
}
.right-col p{
    font-size: 18px;
    color: #5f5f5fef;
    float: right;
    font-weight: 400;
    margin-right: 15px;
}
#icon{
    width: 80px;
    cursor: pointer;
}

.my
{
    font-family: 'Baloo Bhai 2';
    font-weight: 200;
    font-size: 20px;
    position: absolute;
    top: 85%;
    right: 3%;
}
.my img{
    border-radius: 10%;
    width: 100px;
    border: 2px solid;
    box-shadow: 2px 0 10px 5px black;
}